<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class = 'bg'>
    <div class="index-container">
        <h1>Welcome to the Atmospherix!</h1>
        <a href="{{ url_for('weather_forecast') }}">Weather Forecast</a>
        <a href="{{ url_for('compare_weather') }}">Compare Weather Between Two Cities</a>
        <a href="{{ url_for('hourly_forecast') }}">Hourly Forecast</a>
    </div>
    </div>
</body>
</html>
